/* ============================================= */
/*                  Colors                       */
/* ============================================= */

$main-text: #28302e;
$light-text: #8c9996;
$background: #f3faf8;
$background-modal: rgba(38, 48, 46, 0.4);
$accent-light: #B4DDD5;
$accent-dark: #7FB6AC;
$light: #fbfffe;
$bright: #00AA92;



/* ============================================= */
/*              Other Variables                  */
/* ============================================= */

$screen-break: 768px;
$font-xl: 40px;
$font-l: 30px;
$font-m: 17px;
$font-s: 12px;
