/* ============================================= */
/*                  Colors                       */
/* ============================================= */

$main-text: #26302E;
$light-text: #7F8C89;
$background: #f3faf8;
$accent-light: #B4DDD5;
$accent-dark: #7FB6AC;
$light: #fbfffe;
$bright: #00AA92;



/* ============================================= */
/*              Other Variables                  */
/* ============================================= */

$screen-break: 768px;
$font-xl: 40px;
$font-l: 30px;
$font-m: 17px;
$font-s: 12px;
