/* ============================================= */
/*              Images                           */
/* ============================================= */

.avatar {
  border-radius: 50%;
  width: 85%;
  height: auto;
  margin: auto;
}