/* ============================================= */
/*              Layout                      */
/* ============================================= */

html {
  position: relative;
  height: 100vw;
}

body {
  max-width: 1000px;
  margin: 0 auto;
  width: 95%;
  background-color: $background;
}

.grid-container {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 25px;
}

.card {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-areas: "image data";
  height: 150px;
  width: 300px;
  padding: 20px;
  margin: auto;
}

.avatar {
  grid-area: image;
}

.text-container {
  grid-area: data;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
