/* ============================================= */
/*              Typography                       */
/* ============================================= */

h2 {
  font-size: $font-m;
  color: $main-text;
  margin: 0;
}

.text-container {
  .email,
  .location {
    color: $light-text;
    font-size: $font-s;
    margin: 2px 0;
  }
  .additional {
    color: $light-text;
    font-size: $font-s;
    margin: 5px 0;
  }
}